/*头部样式*/
.q-layer-header {
    height: 30px;
    background: #323232;
}

/*logo大小*/
.q-layer-header .header-inner .logo {
    width: 58px;
    height: 18px;
    margin: 6px 5px 0 30px;
}

/*导航*/
.q-layer-header .nav .nav-ul > li {
    font-size: 14px;
    line-height: 30px;
    float: left;
    font-weight: 700;
}

.q-layer-header .nav .nav-ul {
    margin-left: 13px;
}

.q-layer-header .nav .nav-ul li > a {
    color: #c0c0c0;
    display: inline-block;
    padding: 0 10px;
    /*margin-right: 10px;*/
    width: 100%;
}

.q-layer-header .nav .nav-ul li .green, .q-layer-header .nav .nav-ul li a:hover {
    color: #10b041;
}

/*箭头*/
.q-layer-header .nav .nav-ul li a i {
    position: relative;
    font-size: 25px;
    font-family: Consolas;
    display: inline-block;
    overflow: hidden;
    width: 14px;
    height: 7px;
}

.q-layer-header .nav .nav-ul li a i span {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    top: -14px;
}

/*导航栏中的下拉框*/
.q-layer-header .nav .nav-ul #down {
    position: relative;
}

.q-layer-header .nav .nav-ul li .lay-nav {
    position: absolute;
    z-index: 1;
    width: 165px;
    height: 174px;
    /*width: 0;*/
    /*height: 0;*/
    background-color:#fffbcc;
    border-radius: 5px;
    padding: 10px;
    opacity: 1;
    display:none;
}

#down li:hover {
    background-color: #CFFFBF;
}

.q-layer-header .nav .nav-ul li .lay-nav ul .first {
    height: 0;
}

.q-layer-header .nav .nav-ul li .lay-nav li a {
    color: #636363;
    font-weight: normal;
    font-size: 16px;
    /*font-size: 0px;*/
}

.q-layer-header .nav .nav-ul li .lay-nav li a span {
    font-family: Consolas;
}

/*旅行论坛右拉框*/
#nav-down2 {
    position: relative;
}
#nav-down2 >div{
    width: 570px;
    height: 300px;
    padding-left:5px;
    opacity: 0;
    position: absolute;
    left: 180px;
    top: -8px;
}

#nav-down2 > div>div {
    width: 570px;
    height: 300px;
    /*width: 0;*/
    /*height: 0;*/
    /*font-size: 0;*/
    font-size: 16px;
    opacity: 1;
    background-color: #fffbcc;
    position: absolute;
    left: -2px;
    border-radius: 5px;
    padding: 5px 20px;
    color: #636363;
    display: block;
}

#nav-down2 > div>div .top {
    border-bottom: 1px solid #ccc;
    height: 40px;
}

#nav-down2 >div>div .top span a {
    font-family: Consolas;
    font-size: 16px;
    /*font-size: 0;*/
    color: #636363;
}

#nav-down2 >div>div .top span a:hover {
    color: #10b041;
}

/*二级下拉框*/
#nav-down2 >div>div dl dd a {
    font-size: 14px;
    /*font-size: 0;*/
    display:block;
    margin: 0 5px;
    float: left;
}

#nav-down2 >div> div dl dd a:hover {
    background-color: #CFFFBF;
}

/*二级下拉框定义列表高度*/
#nav-down2 >div> div dl {
    border-bottom: 1px dashed #ccc;
}

#nav-down2 >div>div dl dt {
    margin-right: 5px;
    width: 80px;
}

/*预订下的下拉框*/
#navDownLast > ul {
    font-size: 16px;
    width: 110px;
    height: 200px;
    /*width: 0;*/
    /*height: 0;*/
    background-color:#fffbcc;
    padding: 10px 10px 0 10px;
    font-weight: normal;
    border-radius: 5px;
    display: none   ;
    opacity:1;
    position: absolute;
    z-index: 1;
}

#navDownLast > ul li a {
    color: #636363;
}

#navDownLast > ul li {
    display: block;
}

#navDownLast > ul li:hover {
    background-color: #CFFFBF;
}

/*导航栏右侧*/
.q-layer-header .fun input {
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    /*width: 190px;*/
    height: 20px;
    width: 10px;
    float: right;
}

.q-layer-header .fun .search {
    margin-right: 5px;
    position: relative;
}

.q-layer-header .fun i {
    position: absolute;
    right: 0px;
    top: 6px;
    cursor: pointer;
    margin-top: -2px;
}

.q-layer-header .fun .fr {
    border-left: 1px solid #636363;
    width: 215px;
}

.q-layer-header .fun .fr div {
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
}

.q-layer-header .fun .fr a {
    display: inline-block;
    color: #c0c0c0;
    font-size: 14px;
    margin-left: 14px;
    margin-top: 2px;
}

.q-layer-header .fun .fr a:hover {
    color: #10b041;
}
